<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642761065482-ise6n48ljkog97n15q26n047ek681cgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642761065482-ise6n48ljkog97n15q26n047ek681cgj</string>
	<key>API_KEY</key>
	<string>AIzaSyDBGCFNutf5ECg4ZldO_HZK22l-aeYLXbc</string>
	<key>GCM_SENDER_ID</key>
	<string>642761065482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterthailand.unghshownoiti</string>
	<key>PROJECT_ID</key>
	<string>ungshownoti</string>
	<key>STORAGE_BUCKET</key>
	<string>ungshownoti.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642761065482:ios:94bab14e73eeec6a94cbf3</string>
</dict>
</plist>